<aside id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-100 sm:translate-x-0 dark:bg-gray-200 dark:border-gray-300"
  aria-label="Sidebar">
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-200">
    <ul class="space-y-2 font-medium">
      <li>
        <a routerLink="/" class="sidebar-link flex items-center p-2 rounded-lg" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}" ariaCurrentWhenActive="page">

          <span class="material-symbols-outlined">
            help
            </span>
          <span class="ms-3">Q&A</span>
        </a>
      </li>

      <li>
        <a routerLink="/health-plan" class="sidebar-link flex items-center p-2 rounded-lg" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">
          <span class="material-symbols-outlined">
            health_and_safety
            </span>
          <span class="flex-1 ms-3 whitespace-nowrap">Health Plan</span>
        </a>
      </li>


    </ul>
  </div>
</aside>